<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="2.1.0" targetFramework="xamarinios10" />
  <package id="Acr.UserDialogs" version="7.0.0" targetFramework="xamarinios10" />
  <package id="BTProgressHUD" version="1.2.0.6" targetFramework="xamarinios10" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="xamarinios10" />
  <package id="MvvmCross" version="6.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Forms" version="6.0.0" targetFramework="xamarinios10" />
  <package id="NETStandard.Library" version="2.0.1" targetFramework="xamarinios10" />
  <package id="Plugin.Permissions" version="2.0.1" targetFramework="xamarinios10" />
  <package id="Splat" version="4.0.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Settings" version="3.0.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.5.1.527436" targetFramework="xamarinios10" />
</packages>